@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 174 0% 100%;
    --foreground: 174 0% 10%;
    --card: 174 0% 100%;
    --card-foreground: 174 0% 15%;
    --popover: 174 0% 100%;
    --popover-foreground: 174 95% 10%;
    --primary: 174 38.5% 42.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 174 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 136 10% 95%;
    --muted-foreground: 174 0% 40%;
    --accent: 136 10% 90%;
    --accent-foreground: 174 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 174 0% 100%;
    --border: 174 20% 82%;
    --input: 174 20% 50%;
    --ring: 174 38.5% 42.7%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 174 10% 10%;
    --foreground: 174 0% 100%;
    --card: 174 0% 10%;
    --card-foreground: 174 0% 100%;
    --popover: 174 10% 5%;
    --popover-foreground: 174 0% 100%;
    --primary: 174 38.5% 42.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 174 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 136 10% 25%;
    --muted-foreground: 174 0% 65%;
    --accent: 136 10% 25%;
    --accent-foreground: 174 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 174 0% 100%;
    --border: 174 20% 50%;
    --input: 174 20% 50%;
    --ring: 174 38.5% 42.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  #root {
    @apply min-h-screen;
  }

  .active {
    @apply font-bold text-foreground;
  }
}
